<% include header %>
<form method="post" action="/file/upload" enctype="multipart/form-data">
    <input type="file" multiple name="fileName"><br>
    <input type="submit" value="上传">
</form>
<% include footer %>